@import "compass/reset";

body {
	background-color: black;
	color: white;
}

#background {
	position: absolute;
	z-index: 0;
	width: 0%;
	height: 100%;
	background-color: red;
}

#gameState {
	position: relative;
	z-index: 1;
	color: white;
}